* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inpute-field {
    background-color: rgba(0, 0, 0, 0.692);
    padding: 20px;
    text-align: center;
}

.inpute-field input {
    padding: 6px;
    width: 60%;
}

.shop-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.product-container {
    width: 70%;
    padding: 10px;
    border-right: 1px solid lightgray;
}

.cart-container {
    position: sticky;
    top: 0;
    height: 400px;
    width: 30%;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.24);
    min-height: 400px;
    line-height: 30px;
}
